@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

.btn {
    background-color: aqua;
    color: #181818;
    display: inline-block;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    filter: brightness(0.9);
    transform: translateY(-2px);
}

.btn-navbar {
    margin-left: auto;
    width: 100%;
    max-width: 220px;
    border-radius: 0;
    text-align: center;
    border-left: 1px solid aqua;
    transition: 0.5s;
}

.btn-navbar:hover {
    transform: translateY(0);
    background-color: transparent;
    color: aqua;
}

.logo {
    height: 100%;
    font-size: 16px;
    font-weight: 700;
    margin-left: 2.5rem;
    margin-right: auto;
    
}

header {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.navbar {
    display: flex;
    align-items: center;
}

.nav-Links {
    display: flex;
    gap: 2rem;
}

.nav-Links a {
    font-weight: 500;
}

.nav-Links a:hover {
    color: rgb(0, 224, 224);
}

.hero {
    margin-top: 60px;
    display: flex;
    background-image: linear-gradient(to bottom, #ffffff, #fafdff, #effdff, #e0feff, #d4ffff);
    padding: 5rem 2rem;
    gap: 15px;
    height: 100vh;
}

.hero-conteudo-one {
    display: flex;
    flex-direction: column;
}

.hero-conteudo-one h2 {
    line-height: 1;
    font-size: 3.5rem;
    margin-bottom: 1rem;
    text-align: left;
}

.hero-conteudo-one p {
    text-align: center;
    margin-bottom: 10px;
}

.hero-conteudo-one img {
    margin-bottom: 10px;
    border-radius: 10px;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.hero-stats {
    display: flex;
    gap: 40px;
}

.hero-stats li {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-weight: 500;
}

.hero-stats strong{
    color: rgb(16, 190, 190);
}

.hero-conteudo-two {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-conteudo-two img {
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.badge {
    position: absolute;
    z-index: 3;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    padding: 10px 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.btn-servicos {
    top: 10%;
    right: 0;
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
    border-bottom: 0.5px solid #fff;
    border-left: 0.5px solid #fff;
    border-top: 0.5px solid #fff;
    border-radius: 10px 0 0 10px;
    transition: 0.3s;
}

.btn-contratar{
    top: 70%;
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
    border-bottom: 0.5px solid #fff;
    border-right: 0.5px solid #fff;
    border-top: 0.5px solid #fff;
    border-radius: 0 10px 10px 0;
    transition: 0.3s;
}

.hero-text {
    position: absolute;
    z-index: 3;
    bottom: 22%;
    right: 20px;
    max-width: 180px;
    font-size: 14px;
    color: #fff;
    line-height: 1.4;
}

.btn-contratar:hover {
    color: aqua;
    transform: translateY(-2px);
    border-bottom: 0.5px solid aqua;
    border-right: 0.5px solid aqua;
    border-top: 0.5px solid aqua;
}

.btn-servicos:hover {
    color: aqua;
    transform: translateY(-2px);
    border-bottom: 0.5px solid aqua;
    border-left: 0.5px solid aqua;
    border-top: 0.5px solid aqua;
}

.sobre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5rem 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.sobre h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.sobre p {
    font-size: 1.1rem;
    max-width: 800px;
}

.sobre img {
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.servicos {
    background-image: linear-gradient(to top, #ffffff, #fafdff, #effdff, #e0feff, #d4ffff);
    padding: 5rem 2rem;
    text-align: center;
}

.servicos h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.servicos p {
    font-size: 1.1rem;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.servicos-grids {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.servicos-cards {
    background-color: hsl(180, 100%, 92%);
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}

.servicos-cards:hover {
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}

.servicos-cards img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.servicos-cards h3 {
    margin-bottom: 1rem;
    color: #333;
}

.servicos-cards p {
    font-size: 1rem;
    font-weight: 5S00;
}

.servicos-cards strong {
    color: #333;
    margin-right: 1rem;
}

.contato {
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    align-items: center;
    border-top: 0.5px solid #adadad;
}

.contato h2 {
    font-size: 2.5rem;
    color: #333;
}

.contato p {
    font-size: 1.1rem;
}

.btn-outline {
    background-color: transparent;
    border: 1px solid rgb(38, 204, 204);
    max-width: 800px;
    transition: 0.3s;
}

.btn-outline:hover {
    background-color: aqua;
    border: none;
}

footer {
    background-color: #ffffff;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 0.5px solid #adadad;
}

footer h2 {
    font-size: 3.5rem;
    color: rgb(21, 204, 204);
}

footer p {
    font-size: 15px;
}